/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS RESET ---------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    font-family: "Habibi", serif;
    font-size: 1.25em;
    --green:#06A816;
    --orange:#E75D02;
    --black:#000000;
    --white:#ffffff;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
body {
    min-width: 428px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Irish Grover", serif;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.75em;
    padding: .5rem 0;
}
h3, text {
    font-size: 1.25em;
}
header, footer {
    background-color: var(--green);
    color: var(--white);
}
header {
    padding: 5px 0;
    display: grid;
    grid-template: auto auto / auto;
    text-align: center;
    justify-content: center;
}
header h1 {
    text-shadow: 2px 2px 5px var(--black);
}
header p {
    font-style:italic;
    padding: 1em;
}
nav {
    margin: 50px auto;
}
nav a {
    display: grid;
    grid-template: auto auto / 1fr;
    place-content: center;
    text-align: center;
    background-color: var(--orange);
    color: var(--white);
    border: solid 2px var(--white);
    border-radius: 5px;
    height: 30px;
    width: 300px;
    padding: 5px;
    text-decoration: none;
    margin: 1em auto;
}
#top {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    margin: 20px 0;
}
main {
    padding: 10px;
    line-height: 1.5;
}
.photo-grid {
    display: grid;
    gap: 50px;
}
.photo-grid h3{
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 1em;
    margin-bottom: -50px;
    padding: 10px;
}
figure{
    display: grid;
    justify-content: center;
}
figure img {
    z-index: -1;
    grid-area: 1 / 1;
}
figcaption {
    background-color: #0000009f;
    color: var(--white);
    grid-area: 1 / 1;
    z-index: 1;
    text-align: center;
    margin: auto 25%;
    padding: 10px;
}
#contact {
    text-align: center;
    padding: 1.75em 0;
    line-height: 1.5em;

}
#hours {
    text-align: center;
    line-height: 1.5em;
    padding: 1em;
}
#hours dt, #hours dd {
    display: inline;
}
footer p {
    background-color: var(--white);
    color: var(--green);
    text-align: center;
    height: 2em;
    padding: 0.25em;
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width: 834px){
    body{
        min-width: 834px;
    }
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        padding: 15px;
    }
    header h1 {
        padding: 5px;
    }
    nav {
        margin: 30px auto;
    }
    nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
    nav li {
        flex-basis: 50%;
    }
    #top {
        flex-basis: 100%;
        margin: 20px 15px;
    }
    .photo-grid {
        grid-template-columns: 1fr 1fr;
    }
}
/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width: 1280px){
    body{
        min-width: 1280px;
    }
    header {
        display: grid;
        grid-template: auto auto / auto;
        text-align: left;
        padding: 5px;
        position: relative
    }
    header p {
        padding: 1em 0;
    }
    nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        position: absolute;
        top: 0;
    }
    nav li:first-child {
        margin-left: 0;
    }
    .photo-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media screen and (min-width: 1440px){
    body{
        min-width: 1440px;
    }
    .photo-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}